body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Черный фон */
    margin: 0;
    padding: 20px;
    color: white;
}

.container {
    max-width: 600px;
    margin: auto;
    background: black; /* Черный фон контейнера */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

/* Убираем маркеры списка */
ul {
    list-style: none;
    padding: 0;
}

/* Создаем кнопки */
.group-link {
    display: block;
    background-color: white; /* Белый фон кнопки */
    color: black; /* Черный текст */
    text-decoration: none;
    padding: 15px;
    margin-bottom: 10px; /* Отступ между кнопками */
    border-radius: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.group-link:hover {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    margin-bottom: 20px;
    background-color: white; /* Белый фон кнопки */
    color: black; /* Черный текст */
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.back-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.add-button {
    display: inline-block;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.add-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.group {
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: white; /* Белый фон группы */
    padding: 0;
}

.group-link {
    display: block;
    background-color: white; /* Белый фон кнопки */
    color: black; /* Черный текст */
    padding: 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
}

.group-link:hover {
    background-color: #e0e0e0; /* Светло-серый при наведении */
    transform: scale(1.05);
}

.group-content {
    width: 100%;
    text-align: center;
    font-size: 18px;
}
